/* Стили для мобильной версии, которые наследуют другие экраны */
a {
    text-decoration: none;
    color: #D8D8D8;
}

a:hover {
    color: #fff;
}

body {
    margin: 0px auto;
    background-color: #424242;
    color: #F2F2F2;
}

header {
    height: 100px;
    background-color: #2E2E2E;
    padding: 5px;
}

header img {
    float: left;
    height: 100px;
    border-radius: 999px;
    margin-left: 20px;
}

header aside h2 {
    float: right;
    margin-right: 20px;
}

.article {
    margin-bottom: 10px;
}

footer {
    background-color: #2E2E2E;
    height: 50px;
}

.main_menu {
    max-width: 960px;
    display: flex;
    height: 84px;
    flex-direction: column;
    margin-top: 10px;
    background-color: #2E2E2E;
}

.menu_link {
    display: flex;
    flex-direction: column;
    flex: 1;
    order: 1;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 5px;
}

.logo_title {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-left: auto;
    margin-right: auto;
    background-color: #2E2E2E;
}

.content img {
    width: 50%;
}

h2 {
    color: #fff;
}

header li {
    list-style-type: none;
    margin-left: 20px;
}

footer li {
    list-style-type: none;
    float: left;
    margin-left: 20px;
}

footer b {
    float: right;
}

table.FirstTable {
    max-width: 40%;
    flex: 0;
}

td {
    width: 50%;
    text-align: center;
}

th {
    background: #120A2A;
}

th,
td {
    border: 1px solid #fff;
}

tr.table1 {
    font-weight: normal;
    color: #D8D8D8;
    padding: 5px;
}

tr.table2 {
    color: #F2F2F2;
    padding: 5px;
    background: #120A2A;
}
.TableForm {
    display: flex;
    flex-direction: column;
}
.Table {
    flex: 1;
}
#form {
    flex: 1;
    order: -1;
}
/* Начинаем писать стили для больших экранов */
@media screen and (min-width: 800px) {
    .content {
        max-width: 960px;
    }
    .logo_title {
        max-width: 960px;
    }
    .main_menu {
        height: 24px;
        width: 960px;
        display: flex;
        flex-direction: row;
    }

    .menu_link {
        display: flex;
        flex-direction: row;
        flex: 1;
        order: 1;
    }

    .Table {
        flex: 1;
        order: -1;
    }

    #form {
        width: 100px;
        flex: 1;
    }
}
